{{ name }}
========

Installation
------------

From source:

.. code:: bash

  $ pip install --user .

Usage
-----

.. code:: bash

  $ python -m {{ module_name }}

Running tests:

.. code:: bash

  $ tox
